body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff4e8a, #ff9ecb);
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    text-align: center;
    background: rgba(255,255,255,0.15);
    padding: 40px 60px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}
